.align-items{
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
}
.mainContainers{
 
 align-items: center;
 background-color: #fff;
 border: none;
 border-radius: 8px;
 box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
 box-sizing: border-box;
 /* margin: 40px 0 0; */

width:384px;
padding-top: 0px;
padding-bottom: 24px;
height: 338px;

padding-left: 14px;
padding-right: -10px;


 
}
.submitTitle{
  color: brown;
  font-weight: bold;
  font-size: 16;
}
.text1{
  margin-left: 100px;
}
.Appcontainer{
  align-items: center;
  justify-content: center;
  display: flex;
  height: 456px;
  margin-left: 910px;
  position: absolute;
  margin-top: -433px;
  width: 126px;
 
  
 
}
.Forget{
  margin-top: 18px;
  
}
.Forget a{
  margin-left: 111px;
  color: #0866ff;
  font-size: 14px;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  
}
a:hover{
  text-decoration-line: underline;
  color:#0866ff;

}
.line{
  align-items: center;
  border-bottom: 1px solid #dadde1;
  display: flex;
  margin: 16px 4px;
  text-align: center;
  width: 351px;

}
.navbar{
  justify-content: space-between;
 width: 98%;
 margin-left:2px;
  color:white;
  list-style-type: none ;
  border: 10px solid blue; 
  display: flex;
  text-align: center;
  background-color: rgba(0, 0, 255, 0.82);
  text-decoration: none;
  padding: 1px 2px;
  height: 50px;
  
}
h1{
  margin-top: -10px;
}
img{
  margin-left: 40px;
  margin-top: 60px;
}
h2{
  width: 600px;
  margin-left: 40px;
  margin-top: 70px;
}
.Myapp{
  background-color: #f0f2f5;
  height: 600px;
}
h1{
  list-style-type: none;
}
input{
  border-radius: 6px;
  font-size: 17px;
  padding: 14px 16px;
  width: 350px;
  cursor: pointer ;
    border: 1px solid#dedde2;
    color:rgba(0, 0, 0, 0.121);
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    height: 28px;
    line-height: 16px;
    padding: 0 8px;
    vertical-align: middle;
    font-size: 17px;
    padding: 14px 16px;
}
.TextField{
  color: rgba(0, 0, 0, 0.201);
 background: none;
}
.TextField1{
  margin-top: -9px;
  color: rgba(0, 0, 0, 0.192);
  background: none;
 
}
input:focus{
  outline: none;
  border: 1px  solid #0866ff;

}
.navbar ul li{
  list-style-type: none;
}
